.tabs-animated {
    overflow: hidden;
}

.tab-pane {
    height: 250px;
    width: 100%;
}

#tab1 {
    background: #dddddd;
}

#tab2 {
    background: #cccccc;
}

#tab3 {
    background: #bbbbbb;
}

#tab4 {
    background: #aaaaaa;
}





